.title {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 5px;
}

.imagePlaceholder {
	position: relative;
	width: 100%;
	height: 150px;
}

.singleArticle {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #393939;
	background-color: transparent;
	color: white;

	a {
		&:hover {
			.title {
				color: var(--theme-color);
			}
		}
	}
}

.details {
	padding: 1rem;
}

.meta {
	font-size: .8rem;
	font-weight: 700;
	color: var(--theme-grey);
	display: flex;
	margin-top: 15px;

	.source {
		margin-right: 10px;
	}
}