.title {
	font-family: "PolySans Neutral", serif;
	letter-spacing: .01em;
	font-size: 1.2em;
	line-height: 1.15;
	margin: 5px 0 10px;
	color: white;
	transition: color 0.15s linear;
}

.singleArticle {
	padding: 1.25rem;
	border-bottom: 1px solid rgb(47, 51, 54);

	&:last-of-type {
		border-bottom: none;
	}

	h3 {
		margin-top: 0;
	}

	a {
		&:hover {
			.title {
				color: var(--theme-color);
			}
		}
	}
}

.categoryArticle {
	border: 1px solid rgb(47, 51, 54);

	&:last-of-type {
		border-bottom: 1px solid rgb(47, 51, 54);
	}
}

.source {
	color: var(--link-color);
	letter-spacing: .01em;
	display: inline-block;
}

.dateTime {
	font-size: 0.75em;
	font-family: "PolySans Median", serif;
	color: #a2a2a2;
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background-color: white;
	}

	svg {
		width: 12px;
		height: 12px;
	}
}

.sourceImage {
	margin-right: 3px;
}