.title {
	font-family: "PolySans Bulky", serif;
	letter-spacing: .01em;
	min-height: 70px;
	font-size: 1.3em;
	line-height: 1.1;
	margin-bottom: 5px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.imagePlaceholder {
	height: 200px;
	width: 100%;
}

.singleArticle {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid rgb(49 49 49);
	background-color: transparent;
	color: white;

	a {
		&:hover {
			.title {
				text-decoration: underline;
				text-decoration-color: var(--theme-color);
			}
		}
	}
}

.details {
	padding: 1rem;
}

.meta {
	font-size: .65rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
}

.source {
	font-family: "PolySans Slim Mono", serif;
	// font-style: italic;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	padding: 3px 9px 3px 3px;
	border: 1px solid rgb(49 49 49);
}

.dateTime {
	// color: rgb(148 148 148);
	font-family: "PolySans Neutral", serif;

	&:first-letter{
		text-transform: capitalize
	}
}

.sourceImage {
	border: 1px solid rgb(49 49 49);
	border-radius: 20px;
	margin-right: 5px;
}