.title {
	font-family: "PolySans Median Italic", serif;
	letter-spacing: .01em;
	min-height: 70px;
	font-size: 1.25em;
	line-height: 1.2;
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: white;
	transition: color 0.3s linear;

	@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
		min-height: 60px;
		font-size: 1.1em;
		line-height: 1.15;
	}
}

.imagePlaceholder {
	height: 200px;
	width: 100%;

	@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
		height: 85px;
	}
}

.singleArticle {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid rgb(49 49 49);
	background-color: #18181a;

	@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
		border: none;
		border-radius: 0;
		padding: 1rem 0;
		border-bottom: 1px solid rgb(49 49 49);
		background-color: transparent;
	}

	a {
		@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
			display: grid;
			grid-template-columns: 100px calc(100% - 100px - 0.5rem);
			grid-gap: 0.5rem;
			align-items: center;
		}

		&:hover {
			.title {
				color: #abff96;
			}

			.meta {
				opacity: 1;
			}
		}
	}
}

.details {
	padding: 1rem;

	@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
		padding: 0 0 0 0.5rem;
	}
}

.meta {
	font-family: "PolySans Neutral", serif;
	letter-spacing: .01em;
	font-size: .75rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	opacity: 0.6;
	transition: opacity 0.3s linear;
}

.source {
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dateTime {
	&:first-letter{
		text-transform: capitalize;
	}
}

.sourceImage {
	margin-right: 3px;
}