.listItem {
	padding: 7px 0;
	font-size: 1.15em;
	font-weight: 500;

	@media (max-width: calc(1200px + 1.5rem + 1.5rem - 1px)) {
		margin-right: 2rem;
	}

	&:first-of-type {
		padding-top: 0;

		@media (max-width: calc(1200px + 1.5rem + 1.5rem)) {
			padding-top: 7px;
		}
	}

	&:last-of-type {
		border-right: none;
	}

	a {
		display: flex;
		align-items: center;
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}

		img {
			margin-right: 10px;
		}
	}
}

.active {
	opacity: 1 !important;
}