:root {
  --sp: 1.5rem;
  --darkgray: rgba(40, 40, 40, 1);
  --light-grey: rgb(255, 255, 255);;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font: 100%/1.5 "IBM Plex Serif",serif;
  padding: var(--sp);
  background-color: var(--darkgray);
  color: var(--light-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 75rem;
  margin: 0 auto;
}

header {
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 0;
  border-bottom: 2px solid rgb(56, 56, 56);
}
