:root {
  --sp: 1.5rem;
  --darkgray: white;
  --light-grey: rgba(40, 40, 40, 1);
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font: 100%/1.5 "Acta",serif;
  padding: var(--sp);
  background-color: var(--darkgray);
  color: var(--light-grey);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 75rem;
  margin: 0 auto;
}

header {
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 0;
  border-bottom: 2px solid rgb(56, 56, 56);
}

h1, h2 {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}
