$content-width: 1200px;
$tablet-width: 728px;

:root {
  --sp: 1.5rem;
  --dark-theme: #0d0d0d;
  --text-color: white;
  --theme-color: #abff96;
  --theme-grey: rgb(161 161 170);
  --content-width: 1200px;
  --tablet-width: 728px;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font: 100%/1.5 "PolySans Neutral", serif;
  color: var(--text-color);
  background-color: var(--dark-theme);
  padding: var(--sp);
  text-rendering: optimizeLegibility;

  @media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
    padding: 0.75rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 75rem;
  max-width: var(--content-width);
  margin: 0 auto;

  @media (max-width: calc(1200px + 1.5rem + 1.5rem - 1px)) {
    width: 100%;
  }
}

header {
  padding: 0.5rem 0 1rem 0;
  border-bottom: 2px solid rgb(56, 56, 56);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 4rem 0;
  grid-template-columns: repeat(4,minmax(0,1fr));

  section {
    border-left: 1px solid rgb(47, 51, 54);

    &:last-of-type {
      border-right: 1px solid rgb(47, 51, 54);
    }

    & > div {
      border-bottom: 1px solid rgb(47, 51, 54);
      max-height: 1100px;
      overflow-x: hidden;
    }
  }
}

h1, h2 {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}