$content-width: 1200px;
$tablet-width: 728px;

:root {
  --sp: 1.5rem;
  --dark-theme: #0d0d0d;
  --text-color: white;
  --theme-color: #8fea76;
  --link-color: #fdc006;
  --theme-grey: rgb(161 161 170);
  --content-width: 1200px;
  --tablet-width: 728px;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font: 100%/1.5 "PolySans Neutral", sans-serif;
  color: var(--text-color);
  background-color: var(--dark-theme);
  padding: var(--sp);
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 75rem;
  max-width: var(--content-width);
  margin: 0 auto;
}

header {
  padding: 0.5rem 0 1rem 0;
  border-bottom: 2px solid rgb(56, 56, 56);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1, h2 {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.mainHeading {
  margin: 4rem 0 2rem;
  width: 50%;

  h2 {
    font-family: "PolySans Median", sans-serif;
    font-size: 2.2rem;
    line-height: 1.15em;
  }

  a {
    color: var(--link-color);
  }
}

.contentSection {
  margin-top: 4rem;

  h3 {
    font-size: 1.65em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: "PolySans Slim", sans-serif;
  }
}

footer {
  padding: 4rem 0 2rem;
  text-align: center;

  ul {
    list-style: none;
    color: var(--theme-grey);
    font-size: 0.95em;

    li {
      display: inline-block;
      margin: 0 20px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}