$content-width: 1200px;
$tablet-width: 728px;

:root {
  --sp: 1.5rem;
  --dark-theme: #141414;
  --text-color: white;
  --theme-color: #ff652c;
  --theme-grey: #949494;
  --content-width: 1200px;
  --tablet-width: 728px;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font: 100%/1.5 "PolySans Neutral", serif;
  color: var(--text-color);
  background-color: var(--dark-theme);
  padding: var(--sp);
  text-rendering: optimizeLegibility;

  @media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
    padding: 0.75rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 75rem;
  max-width: var(--content-width);
  margin: 0 auto;

  @media (max-width: calc(1200px + 1.5rem + 1.5rem - 1px)) {
    width: 100%;
  }
}

header {
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 0;
  border-bottom: 2px solid rgb(56, 56, 56);
}

h1, h2 {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}