.container {
	margin: 3rem 0;
}

.title {
	margin-bottom: 30px;

	@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
		margin-bottom: 0;
	}

	h1 {
		font-family: "PolySans Bulky", serif;
		text-transform: capitalize;
		letter-spacing: .01em;
		line-height: 1;
		font-size: 3.4em;
		margin: 0 0 10px;

		@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
			font-size: 2.2em;
		}
	}

	p {
		font-family: "FK Roman Standard", serif;
		font-size: 1.2em;
		margin-top: 0;
		line-height: 1.35;

		@media (max-width: calc(680px + 1.5rem + 1.5rem - 1px)) {
			font-size: 0.95em;
		}
	}
}