.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItem {
	padding: 7px 0;
	font-size: 1.15em;
	font-weight: 500;

	&:first-of-type {
		padding-top: 0;
	}

	&:last-of-type {
		border-right: none;
	}

	a {
		display: flex;
		align-items: center;
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}

		img {
			margin-right: 10px;
		}
	}
}

.active {
	opacity: 1 !important;
}