.container {
	margin: 4rem 0;
	grid-template-columns: repeat(4,minmax(0,1fr));
	grid-gap: 10px;

	section {
		border-left: 1px solid rgb(47, 51, 54);
		border-right: 1px solid rgb(47, 51, 54);
		position: relative;

		& > div {
			border-bottom: 1px solid rgb(47, 51, 54);
			max-height: 1100px;
			overflow-x: hidden;
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.title {
	margin-bottom: 0;
	padding: 10px 20px;
	font-family: "PolySans Median", serif;
	text-transform: capitalize;
	letter-spacing: .01em;
	line-height: 1;
	font-size: 1.5em;
	border-top: 1px solid rgb(47, 51, 54);
	border-bottom: 1px solid rgb(47, 51, 54);
	display: flex;
	align-items: center;

	img {
		margin-right: 10px;
	}
}

.moreLink {
	background-color: var(--link-color);;
	color: black;
	position: absolute;
	height: 40px;
	width: 100%;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}