.grid {
	display: grid;

	&Content {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: calc(0.5rem * 2 + 1px);
		border-radius: 0 5px 5px 5px;
	}

	&Category {
		grid-template-columns: minmax(8rem, 1fr) 3fr;
		grid-gap: 30px;
	}

	&Main {
		grid-template-columns: 250px calc(100% - 250px - 1.5rem);
		grid-gap: 1.5rem;
	}
}