.grid {
	display: grid;

	&Content {
		grid-template-columns: repeat(3, calc((100% / 3) - 20px));
		grid-gap: 30px;

		&:first-of-type {
			content: none;
		}
	}

	&Category {
		//grid-template-columns: 300px calc(100% - 300px - 30px);
		grid-template-columns: minmax(10rem,1.5fr) 3fr;
		grid-gap: 30px;
	}
}